@using websiterazor

@*
    Страница содержания должна обязательно иметь адрес
    страницы макета между символами  @{...} :
    Layout = "[название страницы макета].cshtml.
    Кроме того, если в макете объявлены обязательные
    секции (например, @RenderSection("meta", required: true)),
    то на странице содержания обязятельно должно быть
    определение данной секции.
*@

@{
    // Присвоение значения динамической переменной
    Page.Title = "Главная";

    //Layout = "Страница макета";
    Layout = "~/_Layout.cshtml";

    // Определение программных объектов
    Util _util = new Util();
}
@section meta{
    <meta content="" name="keywords" />
    <meta content="" name="description" />
}
<style>
    .information p {
        padding-top: 10px;
        max-height: 150px;
        height: 150px;
        overflow: hidden;
    }
</style>
<!-- Content Wrapper -->
<!-- Content Slider -->
<div class="header_padding"></div>
<div class="contentSlider" style="">
    <div class="center">
        <div class="slide clearfix">
            <div class="slideSwitchLabel">
                <strong>Человек-паук</strong>
            </div>
            <div class="information" style="position:relative;width:520px;">
                <h1 style="text-align: center;line-height:35px;">@_util.getDataById("1","name","comicbooks")</h1>
                <p>
                    @_util.getDataById("1","descript", "comicbooks")
                </p>
                <div style="position:absolute;bottom:20%;right:10%;">
                    <a class="colorButton" href="article?id=1" rel="nofollow"><span class="pointer">Читать</span></a>
                </div>
            </div>
            <div style="height: 100%;display:flex;justify-content:center;align-items:center;">
                <img src="img/@_util.getDataById("1","preview","comicbooks")" style="width:195px;" />
            </div>
        </div>
        <div class="slide clearfix">
            <div class="slideSwitchLabel">
                <strong>Супермэн</strong>
            </div>
            <div class="information" style="position:relative;width:520px;">
                <h1>@_util.getDataById("8","name", "comicbooks")</h1>
                <p>
                    @_util.getDataById("8", "descript", "comicbooks")
                </p>
                <div style="position:absolute;margin-top:10px;bottom:20%;right:10%;">
                    <a class="colorButton" href="article?id=4" rel="nofollow"><span class="pointer">Читать</span></a>
                </div>
            </div>
            <div style="height: 100%;display:flex;justify-content:center;align-items:center;">
                <img src="img/@_util.getDataById("8","preview","comicbooks")" style="width:200px;" />
            </div>
        </div>
        <div class="slide clearfix">
            <div class="slideSwitchLabel">
                <strong>Бэтмен</strong>
            </div>
            <div class="information" style="position:relative;width:520px;">
                <h1>@_util.getDataById("12", "name", "comicbooks")</h1>
                <p>
                    @_util.getDataById("12", "descript", "comicbooks")
                </p>
                <div style="position:absolute;margin-top:10px;bottom:20%;right:10%;">
                    <a class="colorButton" href="article?id=5" rel="nofollow"><span class="pointer">Читать</span></a>
                </div>
            </div>
            <div style="height: 100%;display:flex;justify-content:center;align-items:center;">
                <img src="img/@_util.getDataById("12","preview","comicbooks")" style="width:200px;" />
            </div>
        </div>
    </div>
</div>
<div class="contentWrapper" style="padding-top:20px;">
    <div class="center clearfix">
        <div class="clearfix"></div>
        @*Использование программных внедряемых объектов*@
        @* <div style="padding-top:10px;"><strong>Сегодня</strong> @_util.DateToday()</div>*@
        <div class="column tiny" style="width:220px;margin: 0 10px;position:relative;">
            <li style="list-style:none;">
                <a href="article?id=1"><img src="~/img/@_util.getDataById("1","preview","comicbooks")" style="width: 200px;"></a>
                <ul class="dropdown"><li><p>@_util.getDataById("1", "descript", "comicbooks")</p></li></ul>
            </li>
            <h4 style="margin-top:0;text-align:center;"><a href="article?id=1"><strong>@_util.getDataById("1", "name", "comicbooks")</strong><br /></a></h4>
        </div>
        <div class="column tiny" style="width:220px;margin: 0 10px;position:relative;">
            <li style="list-style:none;">
                <a href="article?id=2"><img src="~/img/@_util.getDataById("7","preview","comicbooks")" style="width: 200px;"></a>
                <ul class="dropdown"><li><p>@_util.getDataById("7", "descript", "comicbooks")</p></li></ul>
            </li>
            <h4 style="margin-top:0;text-align:center;"><a href="article?id=2"><strong>@_util.getDataById("7", "name", "comicbooks")</strong><br /></a></h4>
        </div>
        <div class="column tiny" style="width:220px;margin: 0 10px;position:relative;">
            <li style="list-style:none;">
                <a href="article?id=3"><img src="~/img/@_util.getDataById("8","preview","comicbooks")" style="width: 200px;"></a>
                <ul class="dropdown"><li><p>@_util.getDataById("8", "descript", "comicbooks")</p></li></ul>
            </li>
            <h4 style="margin-top:0;text-align:center;"><a href="article?id=3"><strong>@_util.getDataById("8", "name", "comicbooks")</strong><br /></a></h4>
        </div>
        <div class="column tiny" style="width:220px;margin: 0 10px;position:relative;">
            <li style="list-style:none;">
                <a href="article?id=4"><img src="~/img/@_util.getDataById("12","preview","comicbooks")" style="width: 200px;"></a>
                <ul class="dropdown"><li><p>@_util.getDataById("12", "descript", "comicbooks")</p></li></ul>
            </li>
            <h4 style="margin-top:0;text-align:center;"><a href="article?id=4"><strong>@_util.getDataById("12", "name", "comicbooks")</strong><br /></a></h4>
        </div>
    </div>
</div>
